<div class="container">
  <h1>Business Dashboard</h1>
  <div class="grid-container">
    <div class="child border Area-2">
      <h2> Demand Forecast</h2>
      <h5><%= "Expected Numer of Orders for #{Time.now.strftime("%b")}" %></h5>
      <div class= "forecast">
        <h1> <%= @forecast%> </h1>
      </div>
    </div>
    <div class="child border Area-1">
      <h2>Actual vs. Target Revenue </h2>
      <div >
        <%= line_chart  [
        {name: "Target", data: @target},
        {name: "Orders", data: @actual}
        ], ytitle: "Quantity", height: "230px" %>
      </div>
    </div>
    <div class="child border Area-3">
      <h2>Supply Chain Indicators</h2>
      <div >
        <%= column_chart @supply_chain_indicators, height: "240px", suffix: "%" %>
      </div>
    </div>
    <div class="child border Area-4">
     <h2> Total Orders by Type</h2>
      <div class ="order-chart">
        <%= pie_chart @shipped_orders.group(:t).count, library: {pieSliceText: 'value'} ,  colors: ["#175dad","#ad2817", "#e3e3e3"], height: "200px" %>
      </div>
    </div>
    <div class="child border Area-5">
      <h2>Financial Indicators </h2>
      <div >
        <%= column_chart @financial_performance_indicators,height: "240px", suffix: "%"%>
      </div>
    </div>
  </div>
</div>
