<div class="container">
<h1>Process Dashboard</h1>
  <div class="parent">

   <div class="child border">
      <h2> Current Process </h2>
      <div class= "<%= @activity %>">
          <h3><%= @current_order %> </h3>
        </div>
    </div>

    <div class=" border child">
      <h2>Last Alert</h2>
        <div class= "red">
          <h3><%="!! DANGER !!"%> </h3>
        </div>
      <div class="stock middle" style="margin-top: 35px">
        <div class=" row inactive " style="width: 235px">

        </div>
        <div class="row">
          <h5><%= "#{@alert_message}"%></h5>

        </div>
        <div class="row">
          <%= "Alert from: #{@alert_station}"%>
        </div>
      </div>
      <div class= "centered alert-button">
          <button type="button" class="btn btn-outline-secondary">Past Alerts</button>
        </div>
    </div>

    <div class="child border">
      <h2> Maintenance Schedule  </h2>
      <div>
        <% if @clear_for_maintainance %>
        <div class= "green">
          <h3>No station active, clear for maintainance</h3>
        </div>
        <% else %>
          <div >
            <h3 class= "red">Not clear for Maintainance</h3>
            <h4>The following stations are active</h4>
            <% @active_stations.each do |station|%>
              <h4><%= station %></h4>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

     <div class=" border child">
      <h2>Stations Activity Report</h2>
      <% @stations.each do |station| %>
        <% @time = station[:timestamp].to_time %>
        <% if station[:status] == "active" %>

          <% class_name = "active" %>
        <% else %>
          <% class_name = "inactive" %>
        <% end  %>
          <div class = "<%= class_name %>" data-toggle="popover" data-trigger="hover" data-placement="auto"
              data-content="Updated <%= @time.strftime("at %I:%M %p")%>">
            <p class= "centered"><%=station[:name]%></p>
          </div>

      <% end %>
    </div>

     <div class="border child">
      <div class="margin">
        <h2>Station Image </h2>
        <div class = "" data-toggle="popover" data-trigger="hover"
              data-placement="auto" title="Position" data-content="Pan: <%= @pan %> Tilt: <%= @tilt%>">
            <p class= "centered"><%= image_tag("station_image.jpeg") %></p>
          </div>
      </div>
    </div>

    <div class=" border child">
      <div class="margin">
        <h2>Station Environment </h2>
        <div class="margin">
          <div class = "right">
            <% t = Time.now %>
            <%="#{t.hour}:#{t.min}" %>
          </div>
          <div class = "left">
            <%="Time:" %>
          </div>
        </div>
        <div class="margin">
          <div class = "right" data-toggle="popover" data-trigger="hover"
              data-placement="bottom"  data-content="4.0°C < Ideal Temperature > 50.0°C">
            <%="#{@temperature} °C" %>
          </div>
          <div class = "left">
            <%="Temperature:" %>
          </div>
        </div>
        <div class="margin">
          <div class = "left">
            <%="Air Pressure:"  %>
          </div>
          <div class = "right">
            <%="#{@air_preassure} hPa" %>
          </div>
        </div>
        <div class="margin">
          <div class = "left">
            <%="Air Quality:"  %>
          </div>
          <div class = "right"data-toggle="popover" data-trigger="hover"
              data-placement="bottom"  data-content="(0...50:Good, 51...100:Moderate, 101...150:Unhealthy for Sensitive Groups, 151...200:Unhealthy, 201...300:Very Unhealthy, 301...500:Hazardous">
            <%="#{@air_quality}" %>
          </div>
        </div>
        <div class="margin">
          <div class = "left">
            <%="Humidity:"  %>
          </div>
          <div class = "right">
            <%="#{@humidity}" %>
          </div>
        </div>
        <div class="margin">
          <div class = "left">
            <%="Brightness:"  %>
          </div>
          <div class = "right">
            <%="#{@brightness}" %>
          </div>
        </div>
  </div>
</div>







