<div class="container">
<h1>Process Dashboard</h1>
  <div class="parent">
    <div class="border child">
      <h2>Current Order</h2>
      <div class= "red">
          <h3><%="No order in process"%> </h3>
        </div>

    </div>

    <div class=" border child">
      <h2>Last Alert</h2>
        <div class= "red">
          <h3><%="!! DANGER !!"%> </h3>
        </div>
      <div class="stock middle" style="margin-top: 35px">
        <div class=" row inactive " style="width: 235px">

        </div>
        <div class="row">
          <h5><%= "#{@alert_message}"%></h5>

        </div>
        <div class="row">
          <%= "Alert from: #{Alert.last.station}"%>
        </div>
      </div>
      <div class= "centered alert-button">
          <button type="button" class="btn btn-outline-secondary">Past Alerts</button>
        </div>
    </div>


    <div class=" border child">
      <h2>Current stock</h2>
      <div class = "stock">
         <div class="row">
            <div   class=" cell <%=@current_stock[0]["workpiece"]["type"] %>"
                  data-toggle="popover" data-trigger="hover"
                  title="ID: <%=@current_stock[0]["workpiece"]["id"] %>"
                  data-content="State: <%=@current_stock[0]["workpiece"]["state"]  %>">
                  <h3><%= @current_stock[0]["location"]%> </h3>
            </div>
            <div   class=" cell <%=@current_stock[1]["workpiece"]["type"] %>"
                  data-toggle="popover" data-trigger="hover"
                  title="ID: <%=@current_stock[1]["workpiece"]["id"] %>"
                  data-content="State: <%=@current_stock[1]["workpiece"]["state"]  %>">
                  <h3><%= @current_stock[1]["location"]%> </h3>
            </div>
            <div   class=" cell <%=@current_stock[2]["workpiece"]["type"] %>"
                  data-toggle="popover" data-trigger="hover"
                  title="ID: <%=@current_stock[2]["workpiece"]["id"] %>"
                  data-content="State: <%=@current_stock[2]["workpiece"]["state"]  %>">
                  <h3><%= @current_stock[2]["location"]%> </h3>
            </div>
         </div>
         <div class="row">
            <div   class=" cell <%=@current_stock[3]["workpiece"]["type"] %>"
                  data-toggle="popover" data-trigger="hover"
                  title="ID: <%=@current_stock[3]["workpiece"]["id"] %>"
                  data-content="State: <%=@current_stock[3]["workpiece"]["state"]  %>">
                  <h3><%= @current_stock[3]["location"]%> </h3>
            </div>
            <div   class=" cell <%=@current_stock[4]["workpiece"]["type"] %>"
                  data-toggle="popover" data-trigger="hover"
                  title="ID: <%=@current_stock[4]["workpiece"]["id"] %>"
                  data-content="State: <%=@current_stock[4]["workpiece"]["state"]  %>">
                  <h3><%= @current_stock[4]["location"]%> </h3>
            </div>
            <div   class=" cell <%=@current_stock[5]["workpiece"]["type"] %>"
                  data-toggle="popover" data-trigger="hover"
                  title="ID: <%=@current_stock[5]["workpiece"]["id"] %>"
                  data-content="State: <%=@current_stock[5]["workpiece"]["state"]  %>">
                  <h3><%= @current_stock[5]["location"]%> </h3>
            </div>
         </div>
         <div class="row">
            <div   class=" cell <%=@current_stock[6]["workpiece"]["type"] %>"
                  data-toggle="popover" data-trigger="hover"
                  title="ID: <%=@current_stock[6]["workpiece"]["id"] %>"
                  data-content="State: <%=@current_stock[6]["workpiece"]["state"]  %>">
                  <h3><%= @current_stock[6]["location"]%> </h3>
            </div>
            <div   class=" cell <%=@current_stock[7]["workpiece"]["type"] %>"
                  data-toggle="popover" data-trigger="hover"
                  title="ID: <%=@current_stock[7]["workpiece"]["id"] %>"
                  data-content="State: <%=@current_stock[7]["workpiece"]["state"]  %>">
                  <h3><%= @current_stock[7]["location"]%> </h3>
            </div>
            <div   class=" cell <%=@current_stock[8]["workpiece"]["type"] %>"
                  data-toggle="popover" data-trigger="hover"
                  title="ID: <%=@current_stock[8]["workpiece"]["id"] %>"
                  data-content="State: <%=@current_stock[8]["workpiece"]["state"]  %>">
                  <h3><%= @current_stock[8]["location"]%> </h3>
            </div>
         </div>
      </div>
    </div>



     <div class=" border child">
      <h2>Stations Activity Report</h2>
      <% @stations.each do |station| %>
        <% @time = station[:timestamp].to_time %>
        <% if station[:status] == "active" %>

          <% class_name = "active" %>
        <% else %>
          <% class_name = "inactive" %>
        <% end  %>
          <div class = "<%= class_name %>" data-toggle="popover" data-trigger="hover" data-placement="auto"
              data-content="Updated <%= @time.strftime("at %I:%M %p")%>">
            <p class= "centered"><%=station[:name]%></p>
          </div>

      <% end %>
    </div>

     <div class=" border child">

      <div class="margin">
        <h2>Station Image </h2>
        <div class = "" data-toggle="popover" data-trigger="hover"
              data-placement="auto" title="Position" data-content="Pan: <%= CameraPosition.last.pan%> Tilt: <%= CameraPosition.last.tilt%>">
            <p class= "centered"><%= image_tag("station_image.jpeg") %></p>
          </div>
      </div>
    </div>

    <div class=" border child">

      <div class="margin">
        <h2>Station Environment </h2>

        <div class="margin">
          <div class = "right">
            <% t = Time.now %>
            <%="#{t.hour}:#{t.min}" %>
          </div>
          <div class = "left">
            <%="Time:" %>
          </div>
        </div>
        <div class="margin">
          <div class = "right" data-toggle="popover" data-trigger="hover"
              data-placement="bottom"  data-content="4.0°C < Ideal Temperature > 50.0°C">
            <%="#{EnvironmentSensor.last.temperature} °C" %>
          </div>
          <div class = "left">
            <%="Temperature:" %>
          </div>
        </div>
        <div class="margin">
          <div class = "left">
            <%="Air Pressure:"  %>
          </div>
          <div class = "right">
            <%="#{EnvironmentSensor.last.airpressure} hPa" %>
          </div>
        </div>
        <div class="margin">
          <div class = "left">
            <%="Air Quality:"  %>
          </div>
          <div class = "right"data-toggle="popover" data-trigger="hover"
              data-placement="bottom"  data-content="(0...50:Good, 51...100:Moderate, 101...150:Unhealthy for Sensitive Groups, 151...200:Unhealthy, 201...300:Very Unhealthy, 301...500:Hazardous">
            <%="#{EnvironmentSensor.last.airquality}" %>
          </div>
        </div>
        <div class="margin">
          <div class = "left">
            <%="Humidity:"  %>
          </div>
          <div class = "right">
            <%="#{EnvironmentSensor.last.humidity}" %>
          </div>
        </div>
        <div class="margin">
          <div class = "left">
            <%="Brightness:"  %>
          </div>
          <div class = "right">
            <%="#{BrightnessSensor.last.brightness}" %>
          </div>
        </div>

  </div>
</div>







